<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.id.teda.iinetusage.phone"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Permissions -->
    <!-- Allow application access to network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Allow application access to the Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="13" />

    <application
        android:name=".AppGlobals"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/application_theme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Archive Activity -->
        <activity android:name=".activity.ArchiveActivity" />

        <!-- Daily Data Activity -->
        <activity android:name=".activity.DailyDataActivity" />

        <!-- Graph Activity -->
        <activity android:name=".activity.GraphsActivity" />

        <!-- Preference activity intent -->
        <activity android:name=".activity.PreferencesActivity" />

        <!-- Username password activity intent -->
        <activity android:name=".activity.UserPassActivity" >
            <intent-filter>
                <action android:name=".activity.UserPassActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>